@font-face {
    font-family: font;
    src: url(/Navneet/font/Poppins-Bold.ttf);
}

body{
    font-family: font;
    background-color: rgb(255, 255, 255);
}

.products-layout-box-1{
    display: flex;
    justify-content: space-evenly;
}

.products-layout-box-2{
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 300px;
    height: 650px;
    padding: 20px 0px 15x;

}

.box-img img{
    height: 300px;
    width: 300px;
}

.box-text p{
    color: #A8845A;
    font-size: 25px;
    transition: .5s;
}

.box-text p:hover{
    color: #65BC7B;
}

#price{
    font-size: 20px;
    color: #65BC7B;
    display: flex;
    justify-content: center;
}