@font-face {
    font-family: font;
    src: url(/Navneet/font/Poppins-Bold.ttf);
}

body{
    font-family: font;
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
}

nav .logo a {
    font-size: 28px;
    font-weight: bold;
    color: #006B38FF; /*updated color*/
    text-decoration: none;
    margin: 0 20px 0 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #006B38FF;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: #006B38FF; /*updated color*/
    border-bottom: 2px solid #006B38FF; /*updated color*/
}

.searchbox input{
    width: 84%;
    height: 40px;
    padding: 0 0 0 20px;
    margin: 30px 0 0 60px;
    font-family: font;
    font-weight: lighter;
    color: #006B38FF;
    border: solid 1px #006B38FF;
    border-radius: 0px;
    outline: 0;
}

.searchbox ::placeholder{
    font-family: font;
    font-weight: lighter;
    color: #006B38FF;
}

.searchbox button{
    height: 40px;
    font-family: font;
    font-weight: lighter;
    color: #006B38FF;
}

.products{
    margin-top: 50px;
}

.products-layout-box-1{
    display: flex;
    justify-content: space-evenly;
}

.products-layout-box-2{
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 300px;
    height: 640px;
    padding: 20px 0px 15x;

}

.box-img img{
    height: 300px;
    width: 300px;
}

.box-text p{
    color: #A8845A;
    font-size: 25px;
    transition: .5s;
}

.box-text p:hover{
    color: #006B38FF;
}

#price{
    font-size: 20px;
    color: #006B38FF;
    display: flex;
    justify-content: center;
}